body {
    background-color: #272727;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 20%;
}

.wrapped-div {
    background: #2e3137;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.tab-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.tab-header h2.active {
    color: white;
    border-bottom: 4px solid #04c582;
}

.tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #545d6a;
    border-bottom: 2px solid #545d6a;
}

.tab-header h2:focus {
    outline: none;
}

.row .content {
    width: 80%;
    margin-left: 10%;
}