body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232c33;
}


/*.content {
    max-width: fit-content;
    position: relative;
    display: flex;
}*/

.play-slider {
    margin: 15px;
    margin-bottom: 0px;
    height: 200px;
    background-color: #2b343b;
    overflow: hidden;
    transition: ease-in-out 0.5s;
    border-radius: 25px;
    box-shadow: 0 0 0 8px #4187f6;
}

.login-slider {
    margin: 15px;
    height: 200px;
    background-color: #2b343b;
    margin-bottom: 0px;
    overflow: hidden;
    transition: ease-in-out 0.5s;
    border-radius: 25px;
    box-shadow: 0 0 0 8px #4187f6;
}

.login-slider.active {
    height: 325px;
}

.play-slider.active {
    height: 300px;
}

.login-slider .login-button {
    height: 200px;
    width: 200px;
    background-color: #2b343b;
    cursor: pointer;
    z-index: 100;
}

.login-slider .login-button ion-icon {
    height: inherit;
    width: inherit;
    color: white;
    transition: transform ease-in-out 0.75s;
}

.login-slider.active .login-button ion-icon {
    transform: rotate(-360deg);
}

.login-slider .login-form {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.login-slider .login-form #user-name,
#password {
    margin: 10px;
}

.play-slider .play-button {
    height: 200px;
    width: 200px;
    cursor: pointer;
    z-index: 100;
    background-color: #2b343b;
}

.play-slider .play-button ion-icon {
    height: inherit;
    width: inherit;
    color: white;
    transition: transform ease-in-out 0.75s;
}

.play-slider.active .play-button ion-icon {
    transform: rotate(-360deg);
}

.play-slider .play-form {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.play-slider .play-form #game-code {
    margin: 10px;
}