<body>
    <div #login_slider class="login-slider">
        <div class="login-button" (click)="loginButtonClick()">
            <ion-icon name="log-in-outline"></ion-icon>
        </div>
        <div class="login-form">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmitUser()">
                <div><input type="text" id="user-name" formControlName="userName" placeholder="Username"></div>
                <div><input type="text" id="password" formControlName="password" placeholder="Password"></div>
                <div><button type="submit">Submit</button></div>
            </form>
        </div>
    </div>
    <div #play_slider class="play-slider">
        <div class="play-button" (click)="playButtonClick()">
            <ion-icon name="game-controller-outline"></ion-icon>
        </div>
        <div class="play-form">
            <div><input type="text" id="game-code" [formControl]="gameCode" placeholder="Game code"></div>
            <div><button (click)="onSubmitGame()">Join Game</button></div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>