body {
    background-color: #272727;
    font-family: sans-serif;
}

.flag {
    padding: 40px;
    text-align: center;
    background: #2e3137;
    margin: 50px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.flag .question {
    color: white;
    font-size: 4vh;
    font-weight: 300;
}

.options {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    background: #2e3137;
    color: white;
    width: 70%;
    min-height: 20%;
    padding: 20px;
    top: 20%;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.options .wrapper {
    display: block;
    font-size: large;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid #04c582;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.10s;
}

button {
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 40px;
    color: white;
    background: #2e3137;
    width: 200px;
    border: 2px solid #04c582;
    outline: none;
    border-radius: 25px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

button:hover {
    border: 2px solid #1d64c0;
}